name: "CI"

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"
  workflow_dispatch:
    inputs:
      forced_publish:
        description: 'Force publish of artifact'
        required: false
        type: boolean
        default: false

jobs:
  build-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 7.0

      - name: Restore dependencies
        run: dotnet restore 

      - name: Build 
        run: dotnet build --configuration Release --no-restore

      - name: Test 
        run: dotnet test --configuration Release --no-build --no-restore --verbosity normal
      
      - name: Publish 
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' || inputs.publish }}
        run: dotnet publish --configuration Release --output ./publish --no-build --no-restore

      - name: Upload build artifacts
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' || inputs.publish }}
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: ./publish